$gold: #ffd700;

.nav {
  font-family: 'Playfair Display SC', serif;
  font-size: 2em;
  height: 4em;
  overflow-x: scroll;

  ul {
    display: flex;
    margin: 0;
  }

  li {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-left: .5em;
    padding: .25em .5em;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: $gold;
    }

    &.active {
      background-color: $gold;
    }
  }
}
