$normal:  #00a;
$hover:   #00f;
$active:  #0ff;
$visited: #a0a;
$focus:   #000;

@import "reset.css";
@import "header";

@media (max-width: 1200px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  position: absolute;
  padding: 1em;
  font-family: "Open Sans", Optima, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-weight: bold;
}

a {
}

p {
  margin-top: 1em;
}
