@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");
@import "header";

html {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  html {
    font-size: 2em;
  }
}

body {
  position: absolute;
  padding: 1em;
  font-family: "Open Sans", Optima, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Playfair Display SC', serif;
}

@import "resume";
