@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");
@import "header";

html {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  html {
    font-size: 2em;
  }
}
// @media (min-width: 1200px) {
//   html {
//     font-size: 24px;
//   }
// }

body {
  position: absolute;
  padding: 1em;
  font-family: "Open Sans", Optima, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.05em;
  font-weight: bold;
}

small {
  font-size: 0.833em;
}

a {
}

p {
  margin-top: 1em;
}
