@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC|Rubik+Mono+One");
@import "header.scss";
@import "resume.scss";

$white: #fff;

html {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  html {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", Optima, sans-serif;
  padding: 1em;
  position: absolute;
  width: 100%;
}

h1 {
  font-family: 'Playfair Display SC', serif;
}

.heading-large {
  background: no-repeat;
  background-clip: text;
  background-image: url('images/IMG_1360.jpg');
  background-position: 0;
  color: $white;
  font-family: "Rubik Mono One", "Open Sans", sans-serif;
  -webkit-text-fill-color: transparent;
}
