$normal:  #00a;
$hover:   #00f;
$active:  #0ff;
$visited: #a0a;
$focus:   #000;

@import "compass/reset";
@import "compass";
@import "compass/utilities/general/float";
@import "compass/css3/box";
@import "resume";
@import "twitter";

body {
  position: absolute;
  margin: 8px;
  font-family: "Open Sans", Optima, sans-serif;
}
.content-body {
  margin: 8px;
}
.flexbox-container {
  @include display-box;

  align-items: center;
  justify-content: center;
}
.item {
  @include box-flex;
  max-width: 50%;
}

.item--top {
  align-self: flex-start;
}
.item--bottom {
  align-self: flex-end;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-weight: bold;
}

a {
  @include link-colors($normal, $hover, $active, $visited, $focus);
}

// We can change the colors for buttons of certain classes, etc.
a.positive, button.positive {
  color: #529214;
}

a.negative, button.negative {
  color: #d12f19;
}

#header {
  .nav {
    ul {
    list-style: none;
    }

    li {
      display: inline-block;
    }
  }
}
