---
layout: default
---
div id="header"
  ul class="nav"
    li
      a href="http://www.atomsign.net" Home
    li
      a href="http://blog.atomsign.net" Blog
      li
        a href="about.html" About

div id="content"
  h1 class="title" About Me
  p
    |
      Hi, I'm Alan Fung-Schwarz.  I had the privilege of growing up in a
      household with computers and would love to give other kids the same
      opportunity.
