/* line 27, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"],
body a[href^="mailto:"],
body a[href^="http:"]:visited,
body a[href$=".pdf"],
body a[href$=".doc"],
body a[href$=".xls"],
body a[href$=".rss"],
body a[href$=".rdf"],
body a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 28, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"] {
  background-image: url('/images/link_icons/external.png?1391056657');
}
/* line 29, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png?1391056657');
}
/* line 30, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png?1391056657');
}
/* line 31, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png?1391056657');
}
/* line 32, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png?1391056657');
}
/* line 33, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png?1391056657');
}
/* line 35, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".rss"],
body a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png?1391056657');
}
/* line 36, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png?1391056657');
}
/* line 8, ../sass/link_icons.scss */
body a.noicon {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 13, ../sass/link_icons.scss */
body a#this-is-a-pdf-link {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/pdf.png?1391056657');
}
