/* line 17, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/resume.scss */
body.resume {
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 1rem;
}
/* line 5, ../sass/resume.scss */
body.resume .content-wrapper {
  width: 700px;
}
/* line 8, ../sass/resume.scss */
body.resume h1, body.resume h2 {
  margin-top: 1rem;
  font-weight: bold;
}
/* line 12, ../sass/resume.scss */
body.resume h1 {
  font-size: 200%;
}
/* line 15, ../sass/resume.scss */
body.resume h2 {
  font-size: 150%;
}
/* line 18, ../sass/resume.scss */
body.resume p {
  margin-top: 0.5rem;
}
/* line 22, ../sass/resume.scss */
body.resume ol, body.resume ul {
  list-style: inside;
}
/* line 26, ../sass/resume.scss */
body.resume em {
  font-style: italic;
}
/* line 29, ../sass/resume.scss */
body.resume strong {
  font-weight: bold;
}

/* line 13, ../sass/screen.scss */
body {
  position: absolute;
  margin: 8px;
  font-family: "Open Sans", Optima, sans-serif;
}

/* line 18, ../sass/screen.scss */
.content-body {
  margin: 8px;
}

/* line 21, ../sass/screen.scss */
.flexbox-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  align-items: center;
  justify-content: center;
}

/* line 27, ../sass/screen.scss */
.item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  max-width: 50%;
}

/* line 32, ../sass/screen.scss */
.item--top {
  align-self: flex-start;
}

/* line 35, ../sass/screen.scss */
.item--bottom {
  align-self: flex-end;
}

/* line 39, ../sass/screen.scss */
h1 {
  font-size: 300%;
}

/* line 43, ../sass/screen.scss */
h2 {
  font-size: 250%;
}

/* line 47, ../sass/screen.scss */
h3 {
  font-size: 200%;
}

/* line 51, ../sass/screen.scss */
h4 {
  font-size: 150%;
}

/* line 55, ../sass/screen.scss */
h5 {
  font-size: 120%;
}

/* line 59, ../sass/screen.scss */
h6 {
  font-weight: bold;
}

/* line 63, ../sass/screen.scss */
a {
  color: #0000aa;
}
/* line 18, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #aa00aa;
}
/* line 21, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: blue;
}
/* line 27, ../../../.gem/ruby/2.2.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: cyan;
}

/* line 68, ../sass/screen.scss */
a.positive, button.positive {
  color: #529214;
}

/* line 72, ../sass/screen.scss */
a.negative, button.negative {
  color: #d12f19;
}

/* line 78, ../sass/screen.scss */
#header .nav ul {
  list-style: none;
}
/* line 82, ../sass/screen.scss */
#header .nav li {
  display: inline-block;
}
