!!!doctype html
%html
  %head
    %title Atom Sign
    %meta{charset:"utf-8",content:"text/html","http-equiv"=>"Content-Type"}
    %link{href:"stylesheets/screen.css",media:"screen, projection",rel:"stylesheet",type:"text/css"}
    %link{href:"stylesheets/print.css",media:"print",rel:"stylesheet",type:"text/css"}
    /![if lt IE 8]><link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css"><![endif]
  %body
    .content-body
      #header
        .nav
          = "{% haml header.haml %}"

      = "{{ content }}"

    = "{% haml google.haml %}"
